<!doctype html>
<html>
  <head>
  
    <title>UD Mars Rover</title>
   
    {{ turbo() }}
  </head>
  
  	
    
    
    <body>
    
    
  
  <div style = "position:absolute; left:10px; top: 50px;"
  
    {% include "loadavg.html" %}
    
    
    </div>
    
    
    
    
    
    
    <div style = "position:absolute; left:10px; top: 200px;"
     This tells you how fast its going!
     
     {% include "Speed.html" %}
    {% block content %}{% endblock %}
     </body>
    
    
    
    
  
</html>