#Local Github Config
.gitconfig

# Random Mac Files
.DS_Store

# Visual Studio Files
.vscode

#Pydev Files
.pydevproject
.project

# Docker COnfig File
docker/branch.txt

# Ros Build Files (Must be rebuilt on every computer)
devel/
build/
.catkin_workspace
