<launch>

    <!-- Start Main Service for the Rover, will kill all nodes if it dies-->
    <node pkg="rover_pkg" type="main.py" name="main" required="true" />

    <!-- Start Motor Control Node and have it restart if it dies-->
    <node pkg="rosserial_arduino" type="serial_node.py" name="motor_arduino" respawn="true">
        <param name="port" value="/dev/ttyACM0"/>
        <param name="baud" value="115200"/>
    </node>

    <!-- Start Motor Control Node and have it restart if it dies-->
    <node pkg="rosserial_arduino" type="serial_node.py" name="emo_arduino" respawn="true">
        <param name="port" value="/dev/ttyACM1"/>
        <param name="baud" value="57600"/>
    </node>
</launch>
