<!DOCTYPE html>
<head>
	
    <title>Box Template</title>
    
</head>

<body>
    <div class = "box">
     <div class = "text"> Variable </div>
    </div>
</body>

    
<style>
  /* Box formating */
  .box {
   /* width: 9%;
    height: 16%;*/
    border: 4px solid rgb(0, 0, 0);
    padding: 10%;
    margin: 10%;
    position: absolute;
    text-align: center;
    background-color: tomato;
}

/* Text formating */
.text {
 position: relative;
 text-align: center;
 top: 40%
  
}
</style>