<head>
    <style>
        div {
width: 150px;
  border: 10px solid mediumseagreen;
  padding: 10px;
  margin: 10px;
  background-color: tomato;

/*  background: lightgray;
  height: 60px;
  width: 70%;
  left: 50px;
  top: 50px;
  */
}
    </style>
    <link src\base_pkg\gui\raw_data.css>
</head>
<li>camera:{{camera}}</li>
<li>Lidar:{{Lidar}}</li>
<li>speed:{{speeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeed}}</li>
<div>RadioSpeed:{{RS}}</div>
<div>FacingDirection:{{FD}}</div>
<li>Latitude:{{Lat}}</li>
<li>Longitude:{{Lon}}</li>
<div>Roll:{{roll}}</div>
<div>Pitch:{{pitch}}</div>
<div>RoverBattery:{{batt}}</div>
<div>OverHeatWarning:{{OHW}}</div>
<div>PiErrorMessage:{{Pi}}</div>
<div>EmoErrorMessage:{{Emo}}</div>
<div>DriveErrorMessage:{{Drive}}</div>
<div>ArmErrorMessage:{{Arm}}</div>
<div>CameraErrorMessage:{{cameraERROR}}</div>
<li>UltrasonicSensorData1:{{USD1}}</li>
<li>UltrasonicSensorData2:{{USD2}}</li>
<li>UltrasonicSensorData3:{{USD3}}</li>
<li>UltrasonicSensorData4:{{USD4}}</li>
