[Unit]
Description=UDMRT ROS Startup Service
After=network.target

[Service]
ExecStart=roslaunch /home/udmrt/Precision1/rover.launch
User=udmrt

[Install]
WantedBy=multi-user.target