[Unit]
Description=UDMRT ROS Startup Service
Before=networking.service


[Service]
ExecStart=bash /home/udmrt/Precision1.x/.setup_utils/rosstart.startup
Restart=always

[Install]
WantedBy=multi-user.target