
<html>
<title> UDMRT Page Not Found </title>

Hello!  Welcome to University of Dayton's Mars Rover Club's Page Not Found website.  It seems you may have gotten lost along the way.
No worries, though just get rid of everything after the first / and you will be on your way!

Now, I see that you have decided to keep on reading this, so I hope you are not in the middle of a competition.  If you are STOP READING THIS NOW!!


Anyhow, if your not and are still deciding to read this then please, ponder this...


According to all known laws of aviation, there is no way a bee should be able to fly.
Its wings are too small to get its fat little body off the ground.
The bee, of course, flies anyway because bees don't care what humans think is impossible.
Yellow, black. Yellow, black.
Yellow, black. Yellow, black.
Ooh, black and yellow!
Let's shake it up a little.



Now go back to work!
</body>

</html>